[Desktop Entry]
Name=PowerSaver Fire
Exec=/home/tomas/dev/bash/powersaver/powersaver.sh -up fire
Icon=/home/tomas/dev/bash/powersaver/cpu.png
Type=Application
Terminal=false


