[Desktop Entry]
Name=PowerSaver Shell
Exec=konsole --workdir /home/tomas/dev/bash/powersaver/
Icon=/home/tomas/dev/bash/powersaver/cpu.png
Type=Application
Terminal=false

