[Desktop Entry]
Name=PowerSaver Relax
Exec=sh -c 'export LANG=C; export LC_ALL=C; /home/tomas/dev/bash/powersaver/powersaver.sh -p relax'
Icon=/home/tomas/dev/bash/powersaver/cpu.png
Type=Application
Terminal=false